<h1>Edit task</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'Laundry' %>
  <%= f.label :details %>
  <%= f.text_field :details, placeholder: '' %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>
